.line-text {
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  opacity: 70%;
}

.line-text__line {
  width: 64px;
  height: 0px;
  border: 2px solid #a4074d;
  margin-right: 24px;
}
