<section class="about_us">
  <div class="about_us__card">
    <img
      class="girls"
      src="assets/img/Image.png"
      alt="Two girls looks magazine"
    />
    <div class="about_us__table">
      <app-line-text namePage="About us"></app-line-text>
      <h2 class="about_us_title">E-Learning Platform for Digital Skills</h2>
      <p class="about_us_text">
        Empower yourself with the knowledge and skills gained through online
        education! The key to your future! Empower yourself with the knowledge
        and skills gained through online education! The key to your future!
      </p>
      <app-more-button
        title="Learn More"
        background="background"
      ></app-more-button>
    </div>
  </div>

  <div class=""></div>
</section>
