<section class="about_us">
  <div>
    <div class="">
      <img src="assets/Image.png" alt="Two girls looks magazine" />
      <h2>E-Learning Platform for Digital Skills</h2>
      <p>Empower yourself with the knowledge and skills gained through online education! The key to your future! Empower yourself with the knowledge and skills gained through online education! The key to your future!</p>
      <app-more-button title="Learn More" background="background" ></app-more-button>
    </div>
  </div>
  <div class="">
    
    
  </div>
</section>
